lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
tags

wp-config.php
wp-tests-config.php
phpunit.xml
tests/phpunit/data/plugins/wordpress-importer
tests/phpunit/data/.trac-ticket-cache*
tests/qunit/compiled.html

src/wp-content/uploads
src/wp-content/plugins
!src/wp-content/plugins/hello.php
!src/wp-content/plugins/index.php

node_modules
npm-debug.log

# The WordPress output directory.
build
